
body{
	background: #fff url(../productImages/bg.jpg);
}

.panel {
	margin-bottom:0px;
	border: 5px solid ;
}

.panel-body {
    
    background: #fff url(../productImages/bg.jpg);
}

.panel-footer {
    background-color: #337ab7;
}

#cart_product {
	color: white;
}

.dropdown-menu {
	padding: 0px;

}
